@import url("https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, sans-serif;
  color: #000;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 160px;
  padding-right: 160px;
}

.container-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*         HEADER       */
header {
  min-height: 100dvh;
  color: #fff;
  background-image: url(assets/img/1_hero/JPG/hero_bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  .header-top {
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    .logo {
      width: 64px;
      height: 64px;
    }

    ul,
    li {
      display: flex;
      align-items: center;
    }

    ul {
      gap: 32px;
    }

    li {
      font-size: 24px;
      line-height: 26px;
      font-weight: normal;
      text-transform: uppercase;
      list-style: none;
    }

    .phone-button {
      background-color: #9f0908;
      padding: 8px;
      border: 1px solid #fff;
      border-radius: 8px;

      a {
        color: #fff;
        text-decoration: none;
      }

      img {
        margin-right: 8px;
      }

      &:hover {
        cursor: pointer;
        background-color: #e73e3c;
      }
    }
  }

  h1 {
    font-weight: bold;
    font-size: 96px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  .description {
    text-align: center;
    font-size: 24px;
  }
}

/*         MAIN       */
main {
  h2 {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    line-height: 86px;
    text-transform: uppercase;
    color: #9f0908;
  }

  /*         HOW TO ORDER       */
  .order {
    text-align: center;

    h2 {
      margin-bottom: 64px;
    }

    .order-items-wrapper {
      display: flex;
      justify-content: space-between;

      .order-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 200px;

        img {
          padding-bottom: 16px;
          height: 128px;
          width: 128px;
        }

        p {
          font-size: 56px;
          line-height: 56px;
          font-family: Economica, serif;
          font-weight: bold;
        }
      }
    }
  }

  /*         OUR MENU       */
  #menu {
    background-image: url(assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
      margin-bottom: 64px;
    }

    .menu-items-wrapper {
      .menu-item {
        display: flex;
        align-items: center;
        gap: 80px;

        &:not(:last-child) {
          margin-bottom: 56px;
        }

        &:nth-child(2) {
          flex-direction: row-reverse;
        }

        img {
          width: 350px;
          height: 350px;
          object-fit: cover;
        }

        h3 {
          font-family: Economica, serif;
          font-size: 56px;
          line-height: 56px;
          font-weight: bold;
          padding-bottom: 16px;
        }

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 250px;
          padding-bottom: 8px;
        }

        span {
          font-size: 32px;
          font-weight: bold;
          color: #675e54;
          text-transform: uppercase;
        }
      }
    }
  }

  /*         FIND US AT       */
  #location {
    padding-top: 120px;

    h2 {
      margin-bottom: 8px;
    }

    .location-wrapper {
      display: flex;
      justify-content: center;
      font-weight: normal;
      align-items: center;
      font-size: 24px;
      margin-bottom: 16px;
      margin-bottom: 64px;
    }

    iframe {
      width: 100%;
      height: 500px;
      border: none;
    }
  }
}

/*         FOOTER       */
footer {
  height: 144px;
  background-color: #000;
  display: flex;
  align-items: center;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 44px;
    }

    .footer-icons {
      display: flex;
      align-items: center;
      gap: 16px;

      a {
        display: flex;
        align-items: center;
      }

      img {
        max-width: 40px;
        height: 40px;
      }
    }
  }
}